.table th *{
    vertical-align: middle
}

.move-column{
    background: #fff;
    position: absolute;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    top: 74px;
    padding: 0 .5rem;
    box-shadow: 0 0 3px gray;
}

.table-container.dragging th:hover{
    background: gray;
}

.table tr.filter{
    background: #2f5e2d69;
}

.move-scroll {
    position: fixed;
    top: 50%;
    padding: .5rem;
    background: #2f5e2d;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 3px black;
    box-sizing: border-box;
    cursor: pointer;
}

.move-scroll.rigth{
    right: 2rem;
}
.move-scroll.left{
    left: calc(300px + 2rem);
}

.table{
    text-align: center;
    white-space: nowrap;
	table-layout: fixed;
	min-width: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.table td{
	text-align: center;
	padding: .5rem;
}

.table tr:nth-child(even){
	background: rgba(128, 128, 128, 0.15);
}

.table-container{
    /* padding: .25rem; */
	overflow-x: auto;
	user-select: none;
	height: 98%;
}

.table thead{
	background: #b1b0b0;
}

.table thead th{
	padding: .5rem;
}

tr{
	transition: .3s all;
	cursor: pointer;
}


.table tr.active{
	background: #469800;
    color: white;
}

tr.selected{
	background: #d8d8d8 !important;
	color: black !important;
}